body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
  min-width: 640px;
  min-height: 800px;
  width: 640px;
  height: 800px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #46AD8D;
}

.logo {
  padding: 10px;
}

.actions {
  text-align: center;
}

.buttonLarge {
  width: 90%;
}

.buttonTop {
  transform: scale(1.5);
  position: absolute;
}

.buttonTopR {
  top: 16px;
  right: 16px;
}

.buttonTopL {
  top: 16px;
  left: 16px;
}

.drawer {
  padding: 16px;
}

.header {
  height: 64px;
  width: 100%;
  text-align: center;
}

.welcome {
  text-align: center;
}
